@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #192D3C;
  --color-secondary: #9EB5BD;
  /* --color-secondary: #b9d0f9; */
  --color-accent: #0844a6;
  --color-background: #ebebf0;
  --color-card: #fbfbfe;
  --color-card-inverted: #010104;
  --color-text: #040316;
  --color-text-inverted: #eae9fc;
  --color-border: #09080c;
  --color-button: #9fb6db;
  --color-button-text: #040316;  
  --color-selected: #90ee90;
  --color-overlay: rgba(0, 0, 0, .05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #9EB5BD;
    --color-secondary: #192D3C;
    /* --color-secondary: #061e46; */
    --color-accent: #5996f7;
    --color-background: #0f0f14;
    --color-card: #010104;
    --color-card-inverted: #fbfbfe;
    --color-text: #eae9fc;
    --color-text-inverted: #040316;
    --color-border: #eae9fc;
    --color-button: #9fb6db;
    --color-button-text: #040316;
    --color-selected: #2f6b2f;
    --color-overlay: rgba(0, 0, 0, .05);
  }
}