@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 262 50% 95%;
  --foreground: 224 71.4% 4.1%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --border: 262 50% 10%;
  --input: 220 13% 91%;
  --primary: 262.1 83.3% 57.8%;
  --primary-foreground: 210 20% 98%;
  --secondary: 262 47% 75%;
  --secondary-foreground: 220.9 39.3% 11%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --ring: 262.1 83.3% 57.8%;
  --radius: 0.5rem;
  /* CUSTOM Below */

  --color-imdb-yellow: "#ECC233";
  --color-selected: "#90ee90";
}

.dark:root {
  --background: 240 20% 7%;
  --foreground: 231 14% 92%;
  --muted: 240 10% 15%;
  --muted-foreground: 220 30% 90%;
  --popover: 250 16% 11%;
  --popover-foreground: 231 14% 92%;
  --card: 250 16% 11%;
  --card-foreground: 231 14% 92%;
  --border: 240 10% 25%;
  --input: 240 10% 30%;
  --primary: 255 60% 78%;
  --primary-foreground: 240 21% 12%;
  --secondary: 240 15% 42%;
  --secondary-foreground: 220 30% 90%;
  --accent: 240 10% 30%;
  --accent-foreground: 231 14% 92%;
  --destructive: 0 60% 52%;
  --destructive-foreground: 231 14% 92%;
  --ring: 240 10% 30%;
  /* CUSTOM Below */
  --color-imdb-yellow: 48 95% 64%;
  --color-selected: "#70a050";
}
.old:root {
  --background: 262 15% 25%;
  --foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --card: 263 22% 15%;
  --card-foreground: 210 20% 98%;
  --border: 240 1% 46%;
  --input: 215 27.9% 16.9%;
  --primary: 262 47% 75%;
  --primary-foreground: 224 71.4% 4.1%;
  --secondary: 263.4 70% 50.4%;
  --secondary-foreground: 210 20% 98%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --ring: 263.4 70% 50.4%;
  /* CUSTOM Below */

  --color-imdb-yellow: "#ECC233";
  --color-selected: "#70a050";
}
